<header
  class="flex justify-between items-center w-full px-lg py-sm sticky top-0 z-40 bg-surface/70 dark:bg-surface/70 backdrop-blur-md shadow-sm border-b border-white/10"
>
  <div class="flex items-center gap-md">
    <div class="relative hidden md:flex items-center">
      <span class="material-symbols-outlined absolute left-sm text-on-surface-variant text-[18px]"
        >search</span
      >
      <input
        class="bg-surface-container border border-white/5 rounded-full py-[6px] pl-xl pr-md text-body-sm text-on-surface focus:outline-none focus:border-primary/50 focus:ring-1 focus:ring-primary/50 transition-colors w-[250px] placeholder:text-on-surface-variant"
        placeholder="Search inventory..."
        type="text"
      />
    </div>
  </div>
  <div class="flex items-center gap-md">
    <button
      class="text-on-surface-variant hover:text-primary transition-colors duration-200 cursor-pointer active:scale-95 relative p-sm rounded-full hover:bg-white/5"
    >
      <span class="material-symbols-outlined text-[22px]">notifications</span>
      <span
        class="absolute top-[6px] right-[6px] w-[8px] h-[8px] bg-error rounded-full border border-surface"
      ></span>
    </button>
    <img
      alt="User profile photo"
      class="w-[32px] h-[32px] rounded-full object-cover border border-white/10"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuA-mafDu0Gyq4zbTLDhKDcfj6eZxk6d0ry0rcso1zdcAfBlS1sl19iCyVEfdAq2doT8yy8ATX8tMPEjXFw03mDE132zaJP2PLFi8-KHgOL1hemvjG9AzSkjk9hEpq17KboO1Btg_dI8jiEfK9_j_S3vCNq9oakqoOKYMqzZ8CpCKhR69_CVrAGyllRXhQODHNDYUl1f82MNQgPY5jX94aMKrgxgwKTZfeo8H4EMq0R9Bps9fu_65qMDoiRyRL_LwHoi8IOBA4S-nVc"
    />
  </div>
</header>
